.content-link-single-article {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
}

.news {
    padding: 1rem;
    margin-top: 1rem;
}

p img {
    width: 35%;
    height: auto;
}

a.go-back-btn {
    color: #0A95FF;
    text-decoration: none !important;
}

a.go-back-btn:hover {
    cursor: pointer;
    color: #002A47;
    font-weight: bold;
    transition: all .2s ease;
}

.newBadge, .oldBadge {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.newBadge {
    background-color: #0078d4;
    transition: all .5s ease;
}

.newBadge:hover {
    background-color: #005a9e;
    transition: all .5s ease;
}

.oldBadge {
    background-color: orange;
    transition: all .5s ease;
}

.oldBadge:hover {
    background-color: darkorange;
    transition: all .5s ease;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}