#body-wrapper {
    margin-top: 4rem;
}

.content-h2-heading {
  margin-bottom: 4.7rem;  
}

.content-h2-heading, .participate-h3 {
    color: #002A47;
}

div.content-row .col-sm {
    border: 1px solid #77c4ff;
    border-radius: 10px;
    transition: all .5s ease;
}

div.content-row .col-sm:hover {
    border: 1px solid #0A95FF;
    border-radius: 20px;
    transition: all .5s ease;
}

.col-sm:not(.standard-col) {
    border: none !important;
}

div.participate-container {
    padding: 2.5rem;
    border: 1px solid #77c4ff;
    border-radius: 10px;
    transition: all .5s ease;
}

div.participate-container:hover {
    border: 1px solid #0A95FF;
    transition: all .5s ease;
    border-radius: 20px;
}

h3.participate-h3 {
   margin-bottom: 2rem;
}

footer.footer {
    background-color: #002A47;
    color: #fff;
    height: 65px;
}

.icon-git-footer {
    color: #fff;
    margin: 1rem;
}

/* .submit_admin_btn {
    margin-top: .5rem;
} */